/* 폰트 기본 설정 */
body {
  font-family: 'Pretendard Variable', sans-serif;
}

/* 숫자와 영문은 Inter 폰트 우선 적용 */
.num, .eng, input, button {
  font-family: 'Inter', 'Pretendard Variable', sans-serif;
  letter-spacing: 0.2px;
}

:root {
    --bg-dark: #121212;
    --card-dark: #1a1a1a;
    --text-primary: #ededed;
    --text-secondary: #9ca3af;
    --accent-blue: #2563eb;
    --accent-green: #22c55e;
    --border-color: #2a2a2a;
  }
  
  body {
    background-color: var(--bg-dark);
    color: var(--text-primary);
  }
  